@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli </h1>
    <p>na stranice naše male knjižnice ! Za posudbu i rezervaciju knjiga molimo da se registrirate !</p>
</div>
